<div class="row">
  <div class="span8">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "well" }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <legend>Edit Account</legend>
          <%= f.input :email %>
          <hr>
          
          <%= f.input :password, :autocomplete => "off", :label => "Change Password" %>
          <%= f.input :password_confirmation %><span class="help-block">(leave blank if you don't want to change it)</span>
          <hr>
          <%= f.input :current_password %>
          <span class="help-block">(we need your current password to confirm your changes)</span>

          <div><%= f.button :submit, "Update" %></div>
      </fieldset>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

    <%= link_to "Back", :back %>
  </div>
  <div class="span3 well pull-right">
  </div>
</div>